{% extends '::admin/standard_layout.html.twig' %}


{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a><span class="divider">/</span></li>
    <li class="active">Calendar</li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href='{{ asset("/bundles/rozkladcalendar/vendor/fullcalendar/fullcalendar-2.6.1/fullcalendar.css") }}' />
{% endblock %}

{% block content %}
    <div id='calendarBody'></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset("/bundles/rozkladcalendar/vendor/fullcalendar/fullcalendar-2.6.1/lib/moment.min.js") }}'></script>
    <script src='{{ asset("/bundles/rozkladcalendar/vendor/fullcalendar/fullcalendar-2.6.1/fullcalendar.js") }}'></script>
    <script src='{{ asset("/bundles/rozkladcalendar/vendor/react/react-0.14.7/build/react.js") }}'></script>
    <script src='{{ asset("/bundles/rozkladcalendar/vendor/react/react-0.14.7/build/react-dom.js") }}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script type="text/babel">
        class Calendar extends React.Component{
            componentDidMount(){
                const {calendar} = this.refs;
                $(calendar).fullCalendar({
                    events: this.props.events,
                    firstDay: 1
                });
            }
            componentWillUnmount(){
                const {calendar} = this.refs;
                $(calendar).fullCalendar('destroy');
            }

            render(){
                return (
                    <div ref="calendar"></div>
                );
            }
        }

        class App extends React.Component{
            render(){
                return (
                    <Calendar/>
                )
            }
        }

        ReactDOM.render(
          <App/>,
          document.getElementById('calendarBody')
        );
    </script>
{% endblock %}