{% extends '::admin/standard_layout.html.twig' %}


{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a><span class="divider">/</span></li>
    <li class="active">Calendar</li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href='{{ asset("/bundles/rozkladcalendar/vendor/fullcalendar/fullcalendar-2.6.1/fullcalendar.css") }}' />
{% endblock %}

{% block content %}
    <div id='calendarBody'></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset("/node_modules/moment/moment.js") }}'></script>
    <script src='{{ asset("/node_modules/fullcalendar/dist/fullcalendar.min.js") }}'></script>
    <script src='{{ asset("/node_modules/react/dist/react.js") }}'></script>
    <script src='{{ asset("/node_modules/react-dom/dist/react-dom.js") }}'></script>
    <script src='{{ asset("/node_modules/babel-core/browser.js") }}'></script>

    <script type="text/babel" src='{{ asset("/bundles/rozkladcalendar/js/components/Calendar.js") }}'></script>
    <script type="text/babel" src='{{ asset("/bundles/rozkladcalendar/js/components/App.js") }}'></script>
    <script type="text/babel" src="{{ asset("/bundles/rozkladcalendar/js/main.js") }}"></script>

{% endblock %}